@model IEnumerable<CreamyCreations.ViewModels.AdminOrdersVM>

@{
    ViewData["Title"] = "Orders";
}

<h1>Customer Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { weddingCakeId = item.weddingCakeID }, new { @class = "btn btn-success"})

                @Html.ActionLink("Details", "Details", new { orderID = item.orderID, userID = item.userID, weddingCakeID = item.weddingCakeID }, new { @class = "btn btn-info"})
            </td>
        </tr>
}
    </tbody>
</table>
