@model IEnumerable<CreamyCreations.ViewModels.AdminOrdersVM>

@{
    ViewData["Title"] = "All Orders";
}

<article class="container vh-100 pb-5">
    <header class="row justify-content-center pt-5">
        <div class="col-12 col-md-7">
            <h1 class="text-center">@ViewData["Title"]</h1>
        </div>
    </header>

    <section class="row justify-content-center">
        <div class="col-12 col-md-10">
            <hr />

            <div class="table-responsive-sm my-4">
                <table class="table table-borderless table__simple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.orderID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.deliveryDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.price)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.orderID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.deliveryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { weddingCakeId = item.weddingCakeID }, new { @class = "btn btn-edit" })

                                    @Html.ActionLink("Details", "Details", new { orderID = item.orderID, userID = item.userID, weddingCakeID = item.weddingCakeID }, new { @class = "btn btn-detail" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </section>
    <section class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-back mt-3">Back to home</a>
        </div>
    </section>
</article>


