@model IEnumerable<CreamyCreations.ViewModels.OrdersVm>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h6">Orders for @ViewBag.firstName @ViewBag.lastName</h1>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@


<div class="container">
    @foreach (var item in Model)
    {
        <div class='row'>
            <div class="card col-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">Order #@item.OrderId</h5>
                        <p class="card-text">Price: @item.price</p>
                        <p class="card-text">Date: @item.Date</p>
                    </div>
                </div>


        </div>

    }

</div>