@model IEnumerable<CreamyCreations.ViewModels.AdminOrdersVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.addressID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weddingCakeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deliveryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.addressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weddingCakeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.orderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.orderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.orderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
